<h1>Welcome to Price comparison and prediction system!</h1>
<%# <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> %>
<% if user_signed_in? %>
  <%= render 'search/search_form' %>
<% end %>